.card {
  background-color: @color-white;
  .box-shadow;
  border-radius: 5px;

  &_vertical-image {
    max-width: 350px;
    .image-container {
      background: url('../images/kitty.jpg') no-repeat;
      background-size: cover;
      min-height: 200px;
      border-radius: 5px 5px 0 0;
    }
  }
  &_horizontal-image {
    max-width: 450px;
    display: grid;
    grid-template-columns: 200px auto;

    .image-container {
      background: url('../images/deer.jpg') no-repeat;
      background-size: cover;
      display: inline-flex;
      border-radius: 5px 0 0 5px;
    }
  }
  &_text {
    max-width: 450px;
  }
  &_color-block {
    .card-header {
      border-radius: 5px 5px 0 0;
      padding: 10px 20px;
      &--purple {
        background-color: @color-purple;
        color: @color-white;
      }
    }
    .card-subheader {
      padding: 10px 20px;
      font-size: .8em;
      &--purple {
        background-color: @color-purple-30;
      }
    }
  }
  &_tile {
    background: url('../images/cookies.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 150px;
    display: flex;

    &-footer {
      flex-flow: row;
      align-self: flex-end;
      width: 100%;
      border-radius: 0 0 5px 5px;
      padding: 5px 10px;

      &--blue {
        color: @color-white;
        background-color: @color-blue-dark;
      }
      .title {
        text-transform: uppercase;
        font-size: .8em;
        display: flex;
      }
      .date {
        font-size: .7em;
        font-weight: 200;
        display: flex;
      }
    }
  }
  .card-content {
    padding: 1em;
  }
  .category-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
    margin-bottom: 10px;
  }
  .article-title {
    color: @color-blue-primary;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .snippet-text {
    font-size: .7em;
    margin-top: 5px;
  }
}
