<h2>Color Block Cards</h2>
<p>Title BG Color: Any secondary color (green, teal, purple, or orange)<br>
Subtitle BG Color: Secondary color’s transparency</p>
<div class="card card_color-block">
  <div class="card-header card-header--purple">
    <div class="title">Color Block Card</div>
  </div>
  <div class="card-subheader card-subheader--purple">
    <div class="subtitle">Subtitle</div>
  </div>
  <div class="card-content">
    <input type="radio" id="pub-1" name="sample" checked />
    <label for="pub-1">Publication 1</label>
    <br>
    <input type="radio" id="pub-2" name="sample" />
    <label for="pub-2">Publication 2</label>
    <br>
    <input type="radio" id="pub-3" name="sample" />
    <label for="pub-3">Publication 3</label>
  </div>
</div>
