<h2>Horizontal Image Card</h2>

<div class="card card_horizontal-image">
  <div class="image-container"></div>
  <div class="card-content">
    <div class="category-header">Category Header</div>
    <a href="#" class="article-title">Article Title</a>
    <div class="snippet-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sunt deserunt facilis quod dignissimos exercitationem, modi, ratione quidem quis, rem voluptas inventore optio repellat similique incidunt! Illo non dolores quis.</div>
  </div>
</div>
