<h3>Icon Buttons</h3>
<p>Icon buttons are to be used only when the action and icon are common enough interactions that no text is necessary (ex: ‘Previous’ and ‘Next’ with the chevron icon). Even then, text may still be associated with the button.</p>
<p>Text+Icon buttons are to be used when tied to an action that both has an associated icon and the interface uses only the icon to refer to this action elsewhere in the design.</p>
<div class="button-row">
  <div class="button-grid">
    <button type="submit" href="#" class="button button_circle-icon"><i class="fal fa-chevron-left"></i></button>
    <div class="button-label">State: Default</div>
  </div>
  <div class="button-grid">
    <button type="submit" href="#" class="button button_circle-icon hover"><i class="fal fa-chevron-left"></i></button>
    <div class="button-label">State: Hover</div>
  </div>
</div>
