<h2>Color Block Cards</h2>
<p>Title BG Color: Any secondary color (green, teal, purple, or orange)<br>
Subtitle BG Color: Secondary color’s transparency</p>
<div class="card card_color-block">
  <div class="card-header card-header--purple">
    <div class="title">Color Block Card</div>
  </div>
  <div class="card-subheader card-subheader--purple">
    <div class="subtitle">Subtitle</div>
  </div>
  <div class="card-content">
    <input type="radio" id="pub-1" name="sample" checked />
    <label for="pub-1">Publication 1</label>
    <br>
    <input type="radio" id="pub-2" name="sample" />
    <label for="pub-2">Publication 2</label>
    <br>
    <input type="radio" id="pub-3" name="sample" />
    <label for="pub-3">Publication 3</label>
  </div>
</div>

<ul class="tabs">
	<li class="tab-link current">HTML</li>
	<li class="tab-link">Color Block Card LESS</li>
  <li class="tab-link">Base Card LESS</li>
</ul>
<div class="tab-row">
  <div class="tab-content current">
    <div class="code-container">
      <pre>
        <code class="line-numbers language-markup">
          <script type="text/plain">
            <div class="card card_color-block">
              <div class="card-header card-header--purple">
                <div class="title">Color Block Card</div>
              </div>
              <div class="card-subheader card-subheader--purple">
                <div class="subtitle">Subtitle</div>
              </div>
              <div class="card-content">
                ...
              </div>
            </div>
          </script>
        </code>
      </pre>
    </div>
  </div>
  <div class="tab-content">
    <div class="code-container">
      <pre>
        <code class="line-numbers language-less">
          .card {
            ...

            &_color-block {
              .card-header {
                border-radius: 5px 5px 0 0;
                padding: 10px 20px;
                &--purple {
                  background-color: @color-purple;
                  color: @color-white;
                }
              }
              .card-subheader {
                padding: 10px 20px;
                font-size: .8em;
                &--purple {
                  background-color: @color-purple-30;
                }
              }
            }
          }
        </code>
      </pre>
    </div>
  </div>
  <div class="tab-content">
    <div class="code-container">
      <pre>
        <code class="line-numbers language-less">
          .card {
            background-color: @color-white;
            .box-shadow;
            border-radius: 5px;

            .card-content {
              padding: 1em;
            }
            .category-header {
              text-transform: uppercase;
              font-weight: 600;
              font-size: .8em;
              margin-bottom: 10px;
            }
            .article-title {
              color: @color-blue-primary;
              text-decoration: none;
              margin-bottom: 5px;
            }
            .snippet-text {
              font-size: .7em;
              margin-top: 5px;
            }
          }
        </code>
      </pre>
    </div>
  </div>
</div>
