<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8"/>
	<title>&quot;Buttons&quot;</title>
	<meta name="menu" content="main: parent: components"/>
	<meta name="weight" content="15"/>
</head>
<body>

<p>Buttons are used for actions a user can take on a page. Their visual design is intended to make them stand out against content to make it more apparent what actions are available to a user.</p>

<p><em>We do not disable buttons.</em> Disabled buttons present accessibility issues and can confuse users as to how to enable them. So instead, we allow users to press any button and show a message if something must be done before that action can be taken.</p>

<hr />

<h2 id="primary">Primary</h2>

<p><button type="submit" href="#" class="button button_primary">Primary Button</button>
<br>
<br>
{{% tabs %}}
{{% tab HTML %}}</p>

<pre><code class="html"> &lt;button type=&quot;submit&quot; href=&quot;#&quot; class=&quot;button button_primary&quot;&gt;Primary Button&lt;/button&gt;

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% tab LESS %}}</p>

<pre><code class="```CSS">  .button {
    border-radius: 2px;
    font-weight: 500;
    padding: 4px 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;

    &amp;_primary {
      color: @color-white;
      background-color: @color-blue-primary;
      border: 2px @color-blue-primary solid;
      .box-shadow;

      &amp;:hover {
        background-color: darken(@color-blue-primary, 10%);
        border: 2px darken(@color-blue-primary, 10%) solid;
        transition: all .3s ease;
      }
      &amp;:active, &amp;:visited, &amp;:focus {
        background-color: lighten(@color-blue-primary, 10%);
        border: 2px lighten(@color-blue-primary, 10%) solid;
        transition: all .3s ease;
      }
    }
  }

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% /tabs %}}</p>

<hr />

<h2 id="inverted">Inverted</h2>

<p><button type="submit" href="#" class="button button_inverted">Inverted Button</button>
<br>
<br>
{{% tabs %}}
{{% tab HTML %}}</p>

<pre><code class="html"> &lt;button type=&quot;submit&quot; href=&quot;#&quot; class=&quot;button button_inverted&quot;&gt;Inverted Button&lt;/button&gt;

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% tab LESS %}}</p>

<pre><code class="```CSS">  .button {
    ...
    &amp;_inverted {
      color: @color-blue-primary;
      border: 2px solid @color-blue-primary;
      background-color: @color-white;
      .box-shadow;

      &amp;:hover {
        background-color: darken(@color-white, 10%);
        border: 2px darken(@color-blue-primary, 10%) solid;
        color: darken(@color-blue-primary, 10%);
        transition: all .3s ease;
      }
      &amp;:active, &amp;:visited, &amp;:focus {
        color: lighten(@color-blue-primary, 10%);
        border: 2px lighten(@color-blue-primary, 10%) solid;
        transition: all .3s ease;
      }
    }
  }

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% /tabs %}}</p>

<hr />

<h2 id="accent">Accent</h2>

<p><button type="submit" href="#" class="button button_accent">Accent Button</button>
<br>
<br>
{{% tabs %}}
{{% tab HTML %}}</p>

<pre><code class="html"> &lt;button type=&quot;submit&quot; href=&quot;#&quot; class=&quot;button button_accent&quot;&gt;Accent Button&lt;/button&gt;

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% tab LESS %}}</p>

<pre><code class="```CSS">  .button {
    ...
    &amp;_accent {
      color: @color-white;
      background-color: @color-orange;
      border: 2px @color-orange solid;
      .box-shadow;

      &amp;:hover {
        background-color: darken(@color-orange, 10%);
        border: 2px darken(@color-orange, 10%) solid;
        transition: all .3s ease;
      }
      &amp;:active, &amp;:visited, &amp;:focus {
        background-color: lighten(@color-orange, 10%);
        border: 2px lighten(@color-orange, 10%) solid;
        transition: all .3s ease;
      }
    }
  }

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% /tabs %}}</p>

<hr />

<h2 id="texticon">Text+Icon</h2>

<p><button type="submit" href="#" class="button button_primary-icon"><i class="fa fa-chevron-left"></i> Button</button>
<br>
<br>
{{% tabs %}}
{{% tab HTML %}}</p>

<pre><code class="html"> &lt;button type=&quot;submit&quot; href=&quot;#&quot; class=&quot;button button_primary-icon&quot;&gt;&lt;i class=&quot;fa fa-chevron-left&quot;&gt;&lt;/i&gt; Button&lt;/button&gt;

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% tab LESS %}}</p>

<pre><code class="```CSS">  .button {
    ...
    &amp;_primary-icon {
      color: @color-white;
      background-color: @color-blue-primary;
      border: 2px @color-blue-primary solid;
      .box-shadow;

      &amp;:hover {
        background-color: darken(@color-blue-primary, 10%);
        border: 2px darken(@color-blue-primary, 10%) solid;
        transition: all .3s ease;
      }
      &amp;:active, &amp;:visited, &amp;:focus {
        background-color: lighten(@color-blue-primary, 10%);
        border: 2px lighten(@color-blue-primary, 10%) solid;
        transition: all .3s ease;
      }
    }
  }

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% /tabs %}}</p>

<hr />

<h2 id="icononly">Icon Only</h2>

<p><button type="submit" href="#" class="button button_circle-icon"><i class="fa fa-chevron-left"></i></button>
<br>
<br>
{{% tabs %}}
{{% tab HTML %}}</p>

<pre><code class="html"> &lt;button type=&quot;submit&quot; href=&quot;#&quot; class=&quot;button button_circle-icon&quot;&gt;&lt;i class=&quot;fa fa-chevron-left&quot;&gt;&lt;/i&gt;&lt;/button&gt;

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% tab LESS %}}</p>

<pre><code class="```CSS">  .button_circle-icon {
    cursor: pointer;
    .box-shadow;
    text-transform: uppercase;
    transition: all .3s ease;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    padding: 0;
    border: 2px solid @color-white;

    svg {
      margin-left: -3px;
    }

    &amp;:hover {
      background-color: darken(@color-white, 10%);
      border: 2px darken(@color-white, 10%) solid;
      transition: all .3s ease;
    }
  }

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% /tabs %}}</p>

<hr />

<h2 id="linkbutton">Link Button</h2>

<p><button type="submit" href="#" class="button button_link">Link Button</button>
<br>
<br>
{{% tabs %}}
{{% tab HTML %}}</p>

<pre><code class="html"> &lt;button type=&quot;submit&quot; href=&quot;#&quot; class=&quot;button button_circle-icon&quot;&gt;&lt;/button&gt;

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% tab LESS %}}</p>

<pre><code class="```CSS">  .button {
    ...
    &amp;_link {
      color: @color-blue-primary;
      background-color: @color-white;
      border: 2px @color-white solid;

      &amp;:hover {
        color: darken(@color-blue-primary, 10%);
        text-decoration: underline;
        transition: all .3s ease;
      }
    }
  }

</code></pre>

<p>{{% /tab %}}</p>

<p>{{% /tabs %}}</p>

</body>
</html>

