<ul class="tabs">
	<li><a href="javascript:sgSwitchTab('tb_1', 'content_1');" id="tb_1" class="tabmenu active">HTML</a></li>
	<li><a href="javascript:sgSwitchTab('tb_2', 'content_2');" id="tb_2" class="tabmenu">LESS</a></li>
</ul>
